body{
    font-family: sans-serif;
    background-color: black;
}
.pap{
    color: white;
    text-decoration: underline #a146ff;
}
.important{
    width: 300px;
    color: white;
    margin: 0;
    padding: 0;
    top: -225px;
    right: -490px;
    position: relative;
    border: red solid 1px;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.slider li{
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: #a146ff;
    transition: opacity .5s;
    flex-wrap: wrap;
    border-radius: 10px;
}
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
    opacity: 1;
}
.slider{
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#slide1 li,p,h1,h2,h3,h4{
    margin: 10px;
    text-align: center;
}

#slide5 .span__example{
    position: relative;
    left: 240px;
    top: -130px;
}
#slide6 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#slide7 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.slide__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    list-style: none;
}
.menu a{
    margin: 10px;
    text-decoration: none;
    background-color: #a146ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    padding: 20px;
}

.span__example{
    position: relative;
    width: 80px;
    border: 1px black solid;
    left: 350px;
    margin: 10px;
}
.span__example span{
    text-decoration: underline;
}

.question__game{
    color: white;
    margin: 60px;
}
.questions__answers button{
    margin: 40px;
    cursor: pointer;
}
.questions__answers span{
    text-decoration: underline;
}
